.highlighter-demos {
  --bg-dark: #2b2b2b;
  --bg-medium: #3c3c3c;
  --bg-light: #4d4d4d;

  --fg-dark: #757575;
  --fg-light: #ffffff;

  --focus: #0051ff;

  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--bg-dark);
  color: var(--fg-light);
}

.query-form {
  width: 100%;
}

button {
  height: 28px;
  font-size: 15px;
}

button,
input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: var(--bg-medium);
  color: var(--fg-light);
  border: 1px solid var(--fg-dark);
}

button:disabled {
  color: var(--fg-dark);
  border: 1px solid var(--bg-light);
}

input[type='color'] {
  height: 28px;
  width: 35px;
  padding: 2px 4px;
}

label {
  color: var(--fg-light);
}

input[type='text'] {
  flex-grow: 1;
}

label, span {
  font-size: 14px;
}

*:focus {
  outline: 2px solid var(--focus);
}

button:hover:not(:disabled),
input:hover:not(:disabled) {
  background-color: #505050;
}

.add-button {
  margin: 0 auto;
}

.additional-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
}

.checkbox {
  display: flex;
  gap: 8px;
}

.error {
  color: rgb(255, 68, 68);
  font-size: 15px;
  margin: 4px 0 0 0;
}

.main-settings {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.query-input {
  height: 28px;
  font-size: 16px;
}
